body{
    height: 950px;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#wheel{
    margin-top: 5em;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1000ms;
    transform: rotate(360deg);
}

.each{
    height: 250px;
    background-color: blue;
    width: 5%;
    overflow: hidden;
}

.each_2{
    position: absolute;
    width: 250px;
    background-color: blue;
    height: 3%;
    overflow: hidden;
}

#tour{
    display: none;
}